.header{
    margin-top: 40px;
    color: white;
    font-size: 75px;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
}
.desc{
    color: white;
    font-size: 18px;
    align-self: end;
    margin-bottom: 15px;
}